{% extends 'foliomine/base.html' %}

{% block content %}
    <div class="flex justify-center">
        <div class="flex flex-col mx-40">
            <div class="flex flex-row items-center">
                <div class="border rounded-full w-48 h-48 object-center overflow-hidden">
                    <img src="{{profile.profile_photo.url}}" alt="Profile Photo" title="Profile Photo">
                </div>
                <div class="flex flex-col">
                    <div class="text-slate-100 text-5xl mx-40">
                        <p>{{profile.first_name}} {{profile.last_name}}</p>
                    </div>
                    <div class="mt-4 mx-40">
                    
                        <button class=" relative bg-gradient-to-br from-black to-gray-800  px-4 py-2 text-slate-100 rounded-2xl transition duration-400 ease-out hover:from-gray-800 hover:to-black hover:ring-2 hover:ring-gray-500">
                            
                            <a href="{{profile.github_link}}" class="">
                                <span class="fa-brands fa-md fa-github mx-1"></span> 
                                <span>GitHub</span> 
                            </a>
                            
                        </button>
                        
                        <button class="ml-3 relative bg-gradient-to-br from-[#1d9bf0] to-blue-800  px-4 py-2 text-slate-100 rounded-2xl transition duration-400 ease-out hover:from-blue-800 hover:to-[#1d9bf0] hover:ring-2 hover:ring-gray-500 shadow-md">
                            
                            <a href="{{profile.twitter_link}}" class="">
                                <span class="fa-brands fa-md fa-twitter mx-1"></span> 
                                <span>Twitter</span> 
                            </a>
                            
                        </button>
        
                        <button class="ml-3 relative bg-gradient-to-br from-[#0b5fbb] to-login_blue  px-4 py-2 text-slate-100 rounded-2xl transition duration-400 ease-out hover:from-login_blue hover:to-[#0b5fbb] hover:ring-2 hover:ring-gray-500 shadow-md">
                            
                            <a href="{{profile.linkedin_link}}" class="">
                                <span class="fa-brands fa-md fa-linkedin-in mx-1"></span> 
                                <span>LinkedIn</span> 
                            </a>
                            
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="text-slate-100 text-4xl mt-10 ">
                    <p>About me</p>
                </div>
                <div class="text-slate-100 text-md mt-4 flex-wrap">
                    <p>{{profile.about}}</p>
                </div>
            </div>
            
            
        </div>
        
    </div>
    
{% endblock %}