{% extends "foliomine/base.html" %}

{% block content %}
<div class="flex justify-center">
    <form action="{% url 'edit_profile' profile_id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="bg-blue-900 rounded-2xl px-8 py-4">
            <div class="flex justify-center">
                <p class="text-label_white text-2xl">Profile</p>
            </div>
            <div class="grid grid-cols-2 gap-7" id="profile-form">
                
                    
                    <div class="col-span-2">
                        <label for="profile_name" class="text-label_white">{{form.profile_name.label}}</label>
                        <br class="mb-2">
                        <input type="text" name="profile_name" class="folio-form-input w-full" value="{{profile.profile_name}}">
                    </div>
                    <div>
                        <label for="first_name" class="text-label_white">{{form.first_name.label}}</label>
                        <br class="mb-2">
                        <input type="text" name="first_name" class="folio-form-input" value="{{ profile.first_name }}">
                    </div>
                    <div>
                        <label for="first_name" class="text-label_white">{{form.last_name.label}}</label>
                        <br class="mb-2">
                        <input type="text" name="last_name" class="folio-form-input" value="{{ profile.last_name }}">
                    </div>
                    <div class="col-span-2">
                        <label for="about" class="text-label_white">{{form.about.label}}</label>
                        <br class="mb-2">
                        <textarea type="text" name="about" rows="4"
                            class="w-full rounded-lg border-4 border-[#004aad] bg-website_blue text-label_white">{{ profile.about }}</textarea>
                    </div>
                    <div>
                        <label for="github_link" class="text-label_white">{{form.github_link.label}}</label>
                        <br class="mb-2">
                        <input type="text" name="github_link" class="folio-form-input" value="{{ profile.github_link }}">
                    </div>
                    <div>
                        <label for="linkedin_link" class="text-label_white">{{form.linkedin_link.label}}</label>
                        <br class="mb-2">
                        <input type="text" name="linkedin_link" class="folio-form-input" value="{{ profile.linkedin_link }}">
                    </div>
                    <div>
                        <label for="twitter_link" class="text-label_white">{{form.twitter_link.label}}</label>
                        <br class="mb-2">
                        <input type="text" name="twitter_link" class="folio-form-input" value="{{ profile.twitter_link }}">
                    </div>
                    <div>
                        <label for="profile_photo" class="text-label_white">{{form.profile_photo.label}}</label>
                        <br class="mb-2">
                        <input type="file" name="profile_photo" accept="image/*" class="text-sm text-yellow-400 file:border-0 file:rounded-3xl file:border-amber-700  file:bg-amber-800 file:text-gray-300 file:w-[6rem] file:py-3 hover:file:cursor-pointer hover:file:bg-amber-700 transition file:mr-2" value="{{ profile.profile_photo }}">
                    </div>
            </div>    

            <!-- Experience -->

            <div id="experience-form">
                <div class="flex justify-center col-span-2" id="exp_title">
                  <div>
                      <p class="text-label_white text-2xl">Experiences</p>
                  </div>
                </div>
                {% for exp in experiences %}
                    <div class="bg-website_blue rounded-2xl px-4 py-4" id="exp-div-{{forloop.counter}}">
                        <div class="col-span-2 py-2">
                            <div class="flex justify-end"><span class="text-red-700 bg-red-300 rounded-md transition hover:bg-red-400 px-2 hover:cursor-pointer" id="delete-exp-{{forloop.counter}}" onclick="deleteExperience('{{ forloop.counter }}')">x</span></div>
                        </div>
                        <div class="col-span-2">
                            <div class="grid grid-cols-2 gap-7">
                                <div>
                                    <label class="text-label_white">{{experience_form.company_name.label}}</label>
                                    <br class="mb-2">
                                    <input type="text" class="folio-form-input" name="company_name_{{forloop.counter}}" value="{{ exp.company_name }}">
                                </div>
                                <div>
                                    <label class="text-label_white">{{experience_form.job_profile.label}}</label>
                                    <br class="mb-2">
                                    <input type="text" class="folio-form-input" name="job_profile_{{forloop.counter}}" value="{{ exp.job_profile }}">
                                </div>
                                <div>
                                    <label class="text-label_white">{{experience_form.exp_start_date.label}}</label>
                                    <br class="mb-2">
                                    <input type="date" class="folio-form-input" name="exp_start_date_{{forloop.counter}}" id="exp_start_date-{{forloop.counter}}">
                                </div>
                                <div>
                                    <label class="text-label_white">{{experience_form.exp_end_date.label}}</label>
                                    <br class="mb-2">
                                    <input type="date" class="folio-form-input" name="exp_end_date_{{forloop.counter}}" id="exp_end_date-{{forloop.counter}}">
                                </div>
                                <div class="col-span-2">
                                    <label for="details" class="text-label_white">{{experience_form.details.label}}</label>
                                    <br class="mb-2">
                                    <textarea type="text" name="details_{{forloop.counter}}" rows="4"
                                        class="w-full rounded-lg border-4 border-[#004aad] bg-website_blue text-label_white">{{ exp.details }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
                <div class="flex justify-center col-span-2" id="add-exp-more">
                    <div class="w-20 border-2 border-dashed border-blue-500 rounded-2xl hover:bg-blue-400 cursor-pointer transition">
                        <p type="button" name="button" class="flex justify-center text-label_white hover:text-black">+</p>
                    </div>
                </div>
                <div  hidden>
                    <input type="text" id="last-exp-count" name="last_exp_count" value="">
                </div>
            </div>

            <!-- Projects -->

            <div id="project-form">
                <div class="flex justify-center col-span-2" id="proj_title">
                  <div>
                      <p class="text-label_white text-2xl">Projects</p>
                  </div>
                </div>
                {% for proj in projects %}
                    <div class="bg-website_blue rounded-2xl px-4 py-4" id="proj-div-{{forloop.counter}}">
                        <div class="col-span-2 py-2">
                            <div class="flex justify-end"><span class="text-red-700 bg-red-300 rounded-md transition hover:bg-red-400 px-2 hover:cursor-pointer" id="delete-proj-{{forloop.counter}}" onclick="deleteProject('{{ forloop.counter }}')">x</span></div>
                        </div>
                        <div class="col-span-2">
                            <div class="grid grid-cols-2 gap-7">
                                <div class="col-span-2">
                                    <label class="text-label_white">{{project_form.project_name.label}}</label>
                                    <br class="mb-2">
                                    <input type="text" class="folio-form-input w-full" name="project_name_{{forloop.counter}}" value="{{proj.project_name}}">
                                </div>
                                <div>
                                    <label class="text-label_white">{{project_form.proj_start_date.label}}</label>
                                    <br class="mb-2">
                                    <input type="date" class="folio-form-input" name="proj_start_date_{{forloop.counter}}" id="proj_start_date-{{forloop.counter}}">
                                </div>
                                <div>
                                    <label class="text-label_white">{{project_form.proj_end_date.label}}</label>
                                    <br class="mb-2">
                                    <input type="date" class="folio-form-input" name="proj_end_date_{{forloop.counter}}" id="proj_end_date-{{forloop.counter}}">
                                </div>
                                <div class="col-span-2">
                                    <label for="project_details" class="text-label_white">{{project_form.project_details.label}}</label>
                                    <br class="mb-2">
                                    <textarea type="text" name="project_details_{{forloop.counter}}" rows="4"
                                        class="w-full rounded-lg border-4 border-[#004aad] bg-website_blue text-label_white">{{proj.project_details}}</textarea>
                                </div>
                                <div>
                                    <label class="text-label_white">{{project_form.project_code_link.label}}</label>
                                    <br class="mb-2">
                                    <input type="text" class="folio-form-input" name="project_code_link_{{forloop.counter}}" value="{{proj.project_code_link}}">
                                </div>
                                <div>
                                    <label class="text-label_white">{{project_form.project_link.label}}</label>
                                    <br class="mb-2">
                                    <input type="text" class="folio-form-input" name="project_link_{{forloop.counter}}" value="{{proj.project_link}}">
                                </div>
                                <div id="profile_photo-{{forloop.counter}}">
                                    <label for="project_photo" class="text-label_white">{{project_form.project_photo.label}}</label>
                                    <br class="mb-2">
                                    <input type="file" name="project_photo_{{forloop.counter}}" accept="image/*" class="text-sm text-yellow-400 file:border-0 file:rounded-3xl file:border-amber-700  file:bg-amber-800 file:text-gray-300 file:w-[6rem] file:py-3 hover:file:cursor-pointer hover:file:bg-amber-700 transition file:mr-2">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="flex justify-center col-span-2" id="add-proj-more">
                    <div class="w-20 border-2 border-dashed border-blue-500 rounded-2xl hover:bg-blue-400 cursor-pointer transition">
                        <p type="button" name="button" class="flex justify-center text-label_white hover:text-black">+</p>
                    </div>
                </div>
                <div  hidden>
                    <input type="text" id="last-proj-count" name="last_proj_count" value="">
                </div>
            </div>

                <!-- Education -->
            <div id="education-form">
                <div class="flex justify-center col-span-2" id="edu_title">
                    <div>
                        <p class="text-label_white text-2xl">Education</p>
                    </div>
                </div>
                {% for edu in educations %}
                    <div class="col-span-2">
                        <div class="grid grid-cols-2 gap-7">
                            <div class="col-span-2">
                                <label class="text-label_white">{{edu_form.school.label}}</label>
                                <br class="mb-2">
                                <input type="text" class="folio-form-input w-full" name="school" value="{{edu.school}}">
                            </div>
                            <div>
                                <label class="text-label_white">{{edu_form.edu_end_date.label}}</label>
                                <br class="mb-2">
                                <input type="date" class="folio-form-input" name="edu_end_date" id="edu_end_date-{{forloop.counter}}">
                            </div>
                            <div class="">
                                <label for="degree" class="text-label_white">{{edu_form.degree.label}}</label>
                                <br class="mb-2">
                                <input type="text" class="folio-form-input" name="degree" value="{{edu.degree}}">
                            </div>
                            <div>
                                <label class="text-label_white">{{edu_form.city.label}}</label>
                                <br class="mb-2">
                                <input type="text" class="folio-form-input" name="city" value="{{edu.city}}">
                            </div>
                            <div>
                                <label class="text-label_white">{{edu_form.country.label}}</label>
                                <br class="mb-2">
                                <input type="text" class="folio-form-input" name="country" value="{{edu.country}}">
                            </div>
                            <div class="col-span-2">
                                <label class="text-label_white">{{edu_form.grade.label}}</label>
                                <br class="mb-2">
                                <input type="text" class="folio-form-input w-full" name="grade" value="{{edu.grade}}">
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="flex justify-center col-span-2" id="add-edu-more">
                    <div class="w-20 border-2 border-dashed border-blue-500 rounded-2xl hover:bg-blue-400 cursor-pointer transition">
                        <p type="button" name="button" class="flex justify-center text-label_white hover:text-black">+</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        
        <br>
        <div class="flex justify-center">
            <button type="submit" class="border-2 rounded-2xl border-yellow-200 text-yellow-200">
                <p class="ml-3 mr-3 mt-2 mb-2">Save</p>
            </button>
        </div>
    </form>

    <!-- Experience form -->

    <div id="exp-form" hidden>
        <div class="col-span-2" id="internal-exp-form">
            <div class="grid grid-cols-2 gap-7 bg-website_blue rounded-2xl px-4 py-4">
                <div class="col-span-2 py-2">
                    <div class="flex justify-end"><span class="text-red-700 bg-red-300 rounded-md transition hover:bg-red-400 px-2 hover:cursor-pointer" id="delete-exp">x</span></div>
                </div>
                <div>
                    <label class="text-label_white">{{experience_form.company_name.label}}</label>
                    <br class="mb-2">
                    <input type="text" class="folio-form-input" name="company_name" id="company_name">
                </div>
                <div>
                    <label class="text-label_white">{{experience_form.job_profile.label}}</label>
                    <br class="mb-2">
                    <input type="text" class="folio-form-input" name="job_profile" id="job_profile">
                </div>
                <div>
                    <label class="text-label_white">{{experience_form.exp_start_date.label}}</label>
                    <br class="mb-2">
                    <input type="date" class="folio-form-input" name="exp_start_date" id="exp_start_date">
                </div>
                <div>
                    <label class="text-label_white">{{experience_form.exp_end_date.label}}</label>
                    <br class="mb-2">
                    <input type="date" class="folio-form-input" name="exp_end_date" id="exp_end_date">
                </div>
                <div class="col-span-2">
                    <label for="details" class="text-label_white">{{experience_form.details.label}}</label>
                    <br class="mb-2">
                    <textarea type="text" name="details" id="details" rows="4"
                        class="w-full rounded-lg border-4 border-[#004aad] bg-website_blue text-label_white"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- Project form -->

    <div id="project-form" hidden>
        <div class="col-span-2" id="internal-proj-form">
            <div class="grid grid-cols-2 gap-7 bg-website_blue rounded-2xl px-4 py-4">
                <div class="col-span-2 py-2">
                    <div class="flex justify-end"><span class="text-red-700 bg-red-300 rounded-md transition hover:bg-red-400 px-2 hover:cursor-pointer" id="delete-proj">x</span></div>
                </div>
                <div class="col-span-2">
                    <label class="text-label_white">{{project_form.project_name.label}}</label>
                    <br class="mb-2">
                    <input type="text" class="folio-form-input w-full" name="project_name" id="project_name">
                </div>
                <div>
                    <label class="text-label_white">{{project_form.proj_start_date.label}}</label>
                    <br class="mb-2">
                    <input type="date" class="folio-form-input" name="proj_start_date" id="proj_start_date">
                </div>
                <div>
                    <label class="text-label_white">{{project_form.proj_end_date.label}}</label>
                    <br class="mb-2">
                    <input type="date" class="folio-form-input" name="proj_end_date" id="proj_end_date">
                </div>
                <div class="col-span-2">
                    <label for="project_details" class="text-label_white">{{project_form.project_details.label}}</label>
                    <br class="mb-2">
                    <textarea type="text" id="project_details" name="project_details" rows="4"
                        class="w-full rounded-lg border-4 border-[#004aad] bg-website_blue text-label_white"></textarea>
                </div>
                <div>
                    <label class="text-label_white">{{project_form.project_code_link.label}}</label>
                    <br class="mb-2">
                    <input type="text" class="folio-form-input" name="project_code_link" id="project_code_link">
                </div>
                <div>
                    <label class="text-label_white">{{project_form.project_link.label}}</label>
                    <br class="mb-2">
                    <input type="text" class="folio-form-input" name="project_link" id="project_link">
                </div>
                <div>
                    <label for="project_photo" class="text-label_white">{{project_form.project_photo.label}}</label>
                    <br class="mb-2">
                    <input type="file" id="project_photo" name="project_photo" accept="image/*" class="text-sm text-yellow-400 file:border-0 file:rounded-3xl file:border-amber-700  file:bg-amber-800 file:text-gray-300 file:w-[6rem] file:py-3 hover:file:cursor-pointer hover:file:bg-amber-700 transition file:mr-2">
                </div>
            </div>
        </div>
    </div>

    <!-- Education form -->

    <div id="edu-form" hidden>
        <div class="col-span-2" id="internal-edu-form">
            <div class="grid grid-cols-2 gap-7">
                <div class="col-span-2">
                    <label class="text-label_white">{{edu_form.school.label}}</label>
                    <br class="mb-2">
                    <input type="text" class="folio-form-input w-full" name="school">
                </div>
                <div>
                    <label class="text-label_white">{{edu_form.edu_end_date.label}}</label>
                    <br class="mb-2">
                    <input type="date" class="folio-form-input" name="edu_end_date">
                </div>
                <div class="">
                    <label for="degree" class="text-label_white">{{edu_form.degree.label}}</label>
                    <br class="mb-2">
                    <input type="text" class="folio-form-input" name="degree">
                </div>
                <div>
                    <label class="text-label_white">{{edu_form.city.label}}</label>
                    <br class="mb-2">
                    <input type="text" class="folio-form-input" name="city">
                </div>
                <div>
                    <label class="text-label_white">{{edu_form.country.label}}</label>
                    <br class="mb-2">
                    <input type="text" class="folio-form-input" name="country">
                </div>
                <div class="col-span-2">
                    <label class="text-label_white">{{edu_form.grade.label}}</label>
                    <br class="mb-2">
                    <input type="text" class="folio-form-input w-full" name="grade">
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">

    /*   Code for Experiences   */

    // Adding multiple experiences
    const add_exp_button = document.getElementById('add-exp-more')
    var exp_count = "{{exp_len_json}}"
    var last_exp_count = document.getElementById('last-exp-count')
    last_exp_count.setAttribute('value', exp_count)
    last_exp_count.innerHTML = exp_count
    add_exp_button.addEventListener('click', () => {
        exp_count++
        const experience_form = document.getElementById('experience-form')
        const internal_exp_form = document.getElementById('internal-exp-form').cloneNode(true)
        const delete_exp = internal_exp_form.querySelector('#delete-exp')

        // setting ids for individual fields
        setId(internal_exp_form.querySelector('#company_name'), 'company_name', exp_count)
        setId(internal_exp_form.querySelector('#job_profile'), 'job_profile', exp_count)
        setId(internal_exp_form.querySelector('#exp_start_date'), 'exp_start_date', exp_count)
        setId(internal_exp_form.querySelector('#exp_end_date'), 'exp_end_date', exp_count)
        setId(internal_exp_form.querySelector('#details'), 'details', exp_count)

        internal_exp_form.hidden = false
        internal_exp_form.setAttribute('id', 'exp-div-'+exp_count)
        delete_exp.setAttribute('onclick', 'deleteExperience('+exp_count+')')
        delete_exp.setAttribute('id', 'delete-exp-'+exp_count)
        experience_form.insertBefore(internal_exp_form, add_exp_button)
        last_exp_count.setAttribute('value', exp_count)
        last_exp_count.innerHTML = exp_count
    })

    // Delete experience
    function deleteExperience(count) {
        const exp = document.getElementById('exp-div-'+count)
        if (count > "{{exp_len_json}}"){
            for (let i = count+1; i <= exp_count; i++){
                var exp_div = document.getElementById('exp-div-'+i)
                setId(exp_div.querySelector('#company_name_'+(i)), 'company_name', i-1)
                setId(exp_div.querySelector('#job_profile_'+(i)), 'job_profile', i-1)
                setId(exp_div.querySelector('#exp_start_date_'+(i)), 'exp_start_date', i-1)
                setId(exp_div.querySelector('#exp_end_date_'+(i)), 'exp_end_date', i-1)
                setId(exp_div.querySelector('#details_'+(i)), 'details', i-1)
                exp_div.setAttribute('id', 'exp-div-'+(i-1))
            }
            last_exp_count.setAttribute('value', --exp_count)
            
        }
        exp.remove()
    }

    // Setting ids for individual fields before adding the node to form
    function setId(node, field, count) {
        node.setAttribute('name', field+'_'+count)
        node.setAttribute('id', field+'_'+count)
    }

    /*   Code for Projects   */

    // Adding multiple projects
    const add_proj_button = document.getElementById('add-proj-more')
    var proj_count = "{{proj_len_json}}"
    var last_proj_count = document.getElementById('last-proj-count')
    last_proj_count.setAttribute('value', proj_count)
    last_proj_count.innerHTML = proj_count

    add_proj_button.addEventListener('click', () => {
        proj_count++
        const project_form = document.getElementById('project-form')
        const internal_proj_form = document.getElementById('internal-proj-form').cloneNode(true)
        const delete_proj = internal_proj_form.querySelector('#delete-proj')

        // setting ids for individual fields
        setId(internal_proj_form.querySelector('#proj_start_date'), 'proj_start_date', proj_count)
        setId(internal_proj_form.querySelector('#proj_end_date'), 'proj_end_date', proj_count)
        setId(internal_proj_form.querySelector('#project_name'), 'project_name', proj_count)
        setId(internal_proj_form.querySelector('#project_details'), 'project_details', proj_count)
        setId(internal_proj_form.querySelector('#project_code_link'), 'project_code_link', proj_count)
        setId(internal_proj_form.querySelector('#project_link'), 'project_link', proj_count)
        // setId(internal_proj_form.querySelector('#project_photo'), 'project_photo', proj_count)

        internal_proj_form.hidden = false
        internal_proj_form.setAttribute('id', 'proj-div-'+proj_count)
        delete_proj.setAttribute('onclick', 'deleteProject('+proj_count+')')
        delete_proj.setAttribute('id', 'delete-proj-'+proj_count)
        project_form.insertBefore(internal_proj_form, add_proj_button)
        last_proj_count.setAttribute('value', proj_count)
        last_proj_count.innerHTML = proj_count
    })

    // Delete project
    function deleteProject(count) {
        const proj = document.getElementById('proj-div-'+count)
        if (count > "{{proj_len_json}}"){
            for (let i = count+1; i <= proj_count; i++){
                var proj_div = document.getElementById('proj-div-'+i)
                setId(proj_div.querySelector('#proj_start_date_'+(i)), 'proj_start_date', i-1)
                setId(proj_div.querySelector('#proj_end_date_'+(i)), 'proj_end_date', i-1)
                setId(proj_div.querySelector('#project_name_'+(i)), 'project_name', i-1)
                setId(proj_div.querySelector('#project_details_'+(i)), 'project_details', i-1)
                setId(proj_div.querySelector('#project_code_link_'+(i)), 'project_code_link', i-1)
                setId(proj_div.querySelector('#project_link_'+(i)), 'project_link', i-1)
                // setId(proj_div.querySelector('#project_photo_'+(i)), 'project_photo', i-1)
                proj_div.setAttribute('id', 'proj-div-'+(i-1))
            }
            last_proj_count.setAttribute('value', --proj_count)
            
        }
        proj.remove()
    }

    // Setting ids for individual fields before adding the node to form
    function setId(node, field, count) {
        node.setAttribute('name', field+'_'+count)
        node.setAttribute('id', field+'_'+count)
    }

    // Add mulitple educations
    const add_edu_button = document.getElementById('add-edu-more')

    add_edu_button.addEventListener('click', () => {
        const education_form = document.getElementById('education-form')
        const internal_edu_form = document.getElementById('internal-edu-form').cloneNode(true)
        internal_edu_form.hidden = false
        internal_edu_form.setAttribute('id', '')
        education_form.insertBefore(internal_edu_form, add_edu_button)
    })

    // fucntion to convert json string into html element
    function convertToHTML(model_json) {
        var parser = new DOMParser();

        // Parse the JSON string as an HTML document
        var doc = parser.parseFromString(model_json, 'text/html');

        // Get the text content of the document
        var dates = doc.documentElement.textContent;

        // Parse the JSON data
        var data = JSON.parse(dates);

        return data;
    }

    // Prefill dates when document is loaded.
    window.addEventListener("DOMContentLoaded", function() {
        var exp_data = convertToHTML("{{exp_json}}");
        var proj_data = convertToHTML("{{proj_json}}");
        var edu_data = convertToHTML("{{edu_json}}");

        exp_prefill_date("{{exp_len_json}}", exp_data);
        proj_prefill_date("{{proj_len_json}}", proj_data);
        edu_prefill_date("{{edu_len_json}}", edu_data);
    })

    //prepopulate experience date fields
    function exp_prefill_date(count, exp_obj) {
        for(var i=0; i < count; i++){
            var expStartDateInput = document.getElementById('exp_start_date-'+(i+1));
            var expEndDateInput = document.getElementById('exp_end_date-'+(i+1));
            expStartDateInput.value = exp_obj[i].exp_start_date;
            expEndDateInput.value = exp_obj[i].exp_end_date;
        }
    }

    //prepopulate project date fields
    function proj_prefill_date(count, proj_obj){
        for (let i = 0; i < count; i++) {
            var projStartDate = document.getElementById('proj_start_date-'+(i+1));
            var projEndDate = document.getElementById('proj_end_date-'+(i+1));
            projStartDate.value = proj_obj[i].proj_start_date;
            projEndDate.value = proj_obj[i].proj_end_date;
        }
    }

    //prepopulate edu date fields
    function edu_prefill_date(count, edu_obj){
        for (let i = 0; i < count; i++) {
            var eduEndDate = document.getElementById('edu_end_date-'+(i+1));
            eduEndDate.value = edu_obj[i].edu_end_date;
        }
    }

    
    
</script>
{% endblock %}