{% extends 'foliomine/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="flex flex-col relative m-auto w-96 rounded-2xl bg-[#1a2434] drop-shadow-2xl">
        <table class="table-auto text-left border-collapse">
            <thead>
                <tr>
                    <th class="text-lg py-2 pl-3 text-blue-300">Profile Name</th>
                    <th class="text-lg py-2 pl-3 text-blue-300">Edit</th>
                    <th class="text-lg py-2 pl-3 text-blue-300">Share</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in profiles %}
                    <tr>
                        <td class="text-md py-3 pl-3 text-slate-300">{{profile.profile_name}}</td>
                        <td class="pl-3"><img src="https://cdn-icons-png.flaticon.com/512/1160/1160515.png" alt="edit-button" title="Edit Button" class="w-5 h-5"></td>
                        <td class="pl-3"><img src="https://cdn-icons-png.flaticon.com/512/719/719731.png" alt="edit-button" title="Edit Button" class="w-5 h-5"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    
{% endblock %}