{% extends 'foliomine/base.html' %}

{% if form.errors %}
    <p>There was some error with the form!</p>
{% endif %}


{% block content %}
<div class="flex flex-col m-auto h-[34rem] w-[28rem] rounded-3xl bg-login_blue shadow-[9px_9px_0_rgb(22,22,22)]">
    
    <div class="flex justify-center mt-9">
        <h2 class="text-2xl text-[#ffde59]">Sign up</h2>
    </div>
    <br>
    
    <div class="flex justify-center mt-6">
        <form action="{% url 'register_user' %}" method="post">
            {% csrf_token %}

            <div class="mb-2">
                <label for="username" class="text-label_white">{{form.username.label_tag}}</label>
                <br class="mb-2">
                <input type="text" class="username rounded-3xl border-4 border-[#004aad] bg-login_blue text-label_white" name="username" placeholder="Enter your username">
            </div>

            <div class="mb-2">
                <label for="email" class="text-label_white">{{form.email.label_tag}}</label>
                <br class="mb-2">
                <input type="text" class="rounded-3xl border-4 border-[#004aad] bg-login_blue text-label_white" name="email" placeholder="Enter your email">
            </div>

            <div class="mb-2">
                <label for="password1" class="text-label_white">{{form.password1.label_tag}}</label>
                <br class="mb-2">
                <input type="password" name="password1" class="rounded-3xl border-4 border-[#004aad] bg-login_blue text-label_white" placeholder="Enter password">
            </div>

            <div class="mb-2">
                <label for="password2" class="text-label_white">{{form.password2.label_tag}}</label>
                <br class="mb-2">
                <input type="password" name="password2" class="rounded-3xl border-4 border-[#004aad] bg-login_blue text-label_white" placeholder="Confirm password">
            </div>
            <br>
            <button type="submit" class=" border-2 rounded-2xl border-yellow-200 text-yellow-200"><p class="ml-3 mr-3 mt-2 mb-2">Sign up</p></button>

        </form>
    </div>
</div>
{% endblock %}